Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]
RewriteRule ^(user/(.*?))/?$ channel.php?n=$2 [L]
RewriteRule ^(user/(.*?)/favorites)/?$ channel_favorites.php?n=$2 [L]

php_value post_max_size 750M
php_value upload_max_filesize 750M

ErrorDocument 404 /404
